<!DOCTYPE html
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/shrunk.css">
</head>
<body>
    <div class="container">
	<div class="navbar navbar-fixed-top">
	    <div class="left-nav">
		<div class="logo">
		    Rutgers University
		</div>
		<div class="title">
		    Shrunk	
		</div>
	    </div>
	    <div class="search">
		<input type="text" name="url" placeholder="search">
	    </div>
	    <div class="right-nav">
		<div class="user">Me
		    <ul class="">
			<a href="" class="logout" >Log out</a>
		    </ul>
		</div>
	    </div>
	</div>

	<div class="app">
	    <div class="urls">
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <div class="longurl">
			<a href="http://rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center">rumaps.rutgers.edu/location/t-alexander-pond-science-and-engineering-resource-center</a>
		    </div>
		    <div class="metadata">
			<div class="view-count"><p>View Count: 0</p>
			</div>
			<div class="date"><p>Added: 2014-09-04 18:02:51</p>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>  
</body>
</html>
